#
#  Settings for Release 21 absolute EtaJES correction + relative and absolute insitu corrections + HI cross-calibration
#
#  Config file author: Martin Rybar, Jan. 2021
#
#####################

# --------------------------
# 1. Absolute JES

  # The file with the absolute JES factors
AbsoluteJES.CalibFile:	       JetCalibTools/CalibrationFactors/AntiKtHI_JES_constants_5TeV_Jul19_r004.config
AbsoluteJES.Description:       HI jet calibrations R = 1.0, 0.4, 0.3, 0.2 for mc16 (2017 and 2018 data)

EtaJESStartingScale: JetEMScaleMomentum

  # How low in ET do we extrapolate along the calibration curve ?
AntiKt4HI.MinPtForETAJES:  15
AntiKt2HI.MinPtForETAJES:  15

  # Which method should be used to extend the calibration curve past the minimum ET ?
  # 0 = calibation curve is frozen at minimum ET
  # 1 = slope of calibration curve is frozen at minimum ET (recommended)
  # 2 = order 2 polynomial is used to extend the calibration curve
LowPtJESExtrapolationMethod:   1
LowPtJESExtrapolationMinimumResponse: 0.25

######################

# 2. Time-Dependent Insitu Calibration
#
  TimeDependentInsituCalibration: true
  InsituTimeDependentConfigs: InsituConfig_1516_HI_Jan2021.config InsituConfig_17_HI_Jan2021.config  
  InsituRunBins: 251102 314199 999999

######################
