#
#  Settings for Release 21 absolute EtaJES correction + relative and absolute insitu corrections + HI cross-calibration
#
#  Config file author:
#
#####################

# --------------------------
# 1. Absolute JES

  # The file with the absolute JES factors
AbsoluteJES.CalibFile:	       JetCalibTools/CalibrationFactors/AntiKtHI_JES_constants_5TeV_Jul19_r003.config
AbsoluteJES.Description:       HI jet calibrations R = 0.4, 0.2 for mc16 (2017 and 2018 data)

EtaJESStartingScale: JetEMScaleMomentum

  # How low in ET do we extrapolate along the calibration curve ?
AntiKt4HI.MinPtForETAJES:  15
AntiKt2HI.MinPtForETAJES:  15

  # Which method should be used to extend the calibration curve past the minimum ET ?
  # 0 = calibation curve is frozen at minimum ET
  # 1 = slope of calibration curve is frozen at minimum ET (recommended)
  # 2 = order 2 polynomial is used to extend the calibration curve
LowPtJESExtrapolationMethod:   1
LowPtJESExtrapolationMinimumResponse: 0.25

######################

# --------------------------
# 2. Insitu corrections

InsituStartingScale: JetEtaJESScaleMomentum

  # Relative JES correction applied to data only to correct for features not captured by MC
InsituCalibrationFile:           JetCalibTools/InsituCalibration/InsituCalibration_80ifb_17_Nov_2018_HI_Consolidated.root
InsituCalibrationDescription:    EMTopo Eta-Intercalibration and Absolute Insitu for R21 data, Consolidated Recommendations (80 fb-1).
  # eta-intercalibration from dijet events
RelativeInsituCalibrationHistogram:      JETALGO_EtaInterCalibration
  # absolute scale from Z+jet, gamma+jet and multijet balance
AbsoluteInsituCalibrationHistogram:      JETALGO_InsituCalib



####################
